@content-center-color: #dae2e7;
@gutter-color:rgba(255,255,255,.8);
@redline-red:#d91f2d;
@redline-blue:#243942;


*,*:before,*:after{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-image:url('images/body-background.png');
}

body {
	margin:0;
}

.fixed-menu-bar{
	width:100%;
	height:100px;
	background-image:url('images/top-nav-background.png');
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	z-index:100000000;
}

.fixed-menu-bar img{
	vertical-align:middle;
	margin-top: 20px;
	margin-left: -780px;
}

.fixed-menu-bar ul {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	width:64%;
	font-family:'Tw Cen W01 Medium';
	min-width:700px;
	height:36px;
	margin-left:35%;
	margin-top:-80px;
	padding-top:8px;
}

.fixed-menu-bar ul li {
	display:inline-block;
	float:left;
	margin-right:32px;
	color:@redline-blue;
	text-transform:uppercase;
	height: 34px;
	margin-top: -8px;
	padding-top: 8px;
}

.fixed-menu-bar ul li a {
	color:@redline-blue;
	text-decoration:none;
}

.fixed-menu-bar ul li span{
	color:@redline-red;
}

.fixed-menu-bar ul li:hover{
	border-top:1px solid #d91f2d;
	border-bottom:1px solid #d91f2d;
	padding-top:7px;
}

.fixed-menu-bar ul li a:hover {
	color:@redline-red;
	text-decoration:none;
}

.close-button {
	text-decoration: none;
position: absolute;
margin-left: 150px;
margin-top: -32px;
font-size: 16px;
text-transform: uppercase;
font-family: 'Tw Cen W01 Medium';
color: black;
display:none;
}

.close-button span{
	color:@redline-red;
}

/* Social Icons */

.fixed-social-menu{
	position:fixed;
	background-image:url('images/social-menu-bg.png');
	background-repeat:no-repeat;
	width:380px;
	height:39px;
	z-index: 100000;
	margin-left: 61%;
	padding-left: 60px;
	margin-top: -1px;
	display:none;
}

.fixed-social-icons{
	position:fixed;
	z-index:100000;
	width:380px;
	height:39px;
	margin-left:61%;
	padding-left:60px;
	margin-top:-24px;
	display:block;
}

.social-icons{
	float:left;
	display:inline-block;
	margin-top: -9px;
}

.social-separator{
	float:left;
	display:inline-block;
	height:1px;
	width:10px;
	margin-top:7px;
	border-bottom:1px solid #e3e3e3;
}

.content-panel{
	width:100%;
	margin-top:100px;
	overflow:hidden;
	margin-left:0%;
}

.viewport-center{
	width:1000px;
	height:600px;
	margin:0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.left-gutter{
	position: absolute;
	height: 100%;
	top: 100px;
	width:1px;
	background-color:@gutter-color;
	z-index:10000000000000000000;
}



.right-gutter{
	position: absolute;
	height: 100%;
	top: 100px;
	background-color:@gutter-color;
	z-index:10000000000000000000;
}


.panel{
	width:20%;
	height:600px;
	margin:0;
	overflow:hidden;
}

.panel-textbar{
	position:absolute;
	width:21%;
	height:100%;
	right:0;
	top:0;
	background:@redline-blue;
	text-align:center;
	color:white;
}

.panel-textbar img {
	margin-top:125px;
	margin-bottom:60px;
}

.panel-textbar h4 {
	font-family: 'BauerBodoniW01-RegItali';
	font-size: 24px;
	font-weight: normal;
}

.panel-textbar-left{
	position:absolute;
	width:21%;
	height:100%;
	left:0;
	background:@redline-blue;
	text-align:center;
	color:white;
}

.slide-image{
	height:100%;
	position:absolute;
	width:79%;
}

.panel-textbar-horizontal {
	position:absolute;
	width:100%;
	height:21%;
	background-image:url('images/top-nav-background.png');
	color:white;
}

.slide-image-horizontal {
	height:100%;
	position:absolute;
	height:79%;
	bottom:0;
}

.panel-textbar-wide {
	position:absolute;
	height:100%;
	width:40%;
	background-color:#243942;
	right:0;
	text-align:center;
	color:white;
}

.slide-image-wide {
	height:100%;
	position:absolute;
	width:59%;
}

.left-button{
	width:51px;
	height:38px;
	background-image:url('images/button-left.png');
	position:fixed;
	z-index:1000000;
	top: 50%;
	cursor:pointer;
	left:0;
}

.left-button:hover{
	background-image:url('images/button-left-hover.png');
}

.right-button{
	width:51px;
	height:38px;
	background-image:url('images/button-right.png');
	position:fixed;
	z-index:1000000;
	top: 50%;
	cursor:pointer;
	right:0;
}

.right-button:hover{
	background-image:url('images/button-right-hover.png');
}

.content-panel-area{
	width:5000px;
	position:absolute;
	margin-top:-16px;
	overflow-x:visible;
}

.one-big-page{
	display:inline-block;
	width:20%;
	margin-right:3px;
}

.top-button{
	width: 27px;
	position: absolute;
	margin-top:9px;
	margin-left:50px;
}

.up-arrow-hover{
	height:53px;
	width:126px;
	position:absolute;
	cursor:pointer;
	margin-left:47%;
	z-index:10000;
}

.up-arrow-hover:hover{
	background-color:@redline-red;
	border-bottom:1px solid #e4636c;
}

.up-arrow-hover h6{
	position:absolute;
	width: 100%;
	text-align: center;
	margin-top:30px;
	color:#ffffff;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
	display:none;
}

.down-arrow-hover{
	height:53px;
	width:126px;
	position:absolute;
	cursor:pointer;
	margin-left:47%;
	z-index:10000;
}

.down-arrow-hover:hover{
	background-color:@redline-red;
	border-top:1px solid #e4636c;
}

.down-arrow-hover h6{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 9px;
	color: #ffffff;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
	display:none;
}

.down-arrow-footer{
	height:53px;
	width:126px;
	position:absolute;
	cursor:pointer;
	margin-left:47%;
	z-index:10000;
}

.down-arrow-footer:hover{
	background-color:@redline-red;
	border-top:1px solid #e4636c;
}

.down-arrow-footer h6{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 9px;
	color:@redline-blue;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.35);
	display:none;
}

.down-arrow-footer span{
    color:#ffffff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
}


.bottom-button {
	width: 27px;
	position: absolute;
	margin-top:29px;
	margin-left:50px;
}

/* About Us */
.aboutus-paneltwo {
	position:absolute;
	width:100%;
}

.aboutus-panelthree {
	position:relative;
	float:left;
	display:inline-block;
	width: 32.6%;
height: 100%;
margin-right: 1%;
}

.aboutus-panelthree:last-of-type{
	margin-right:0;
}

.aboutus-slide-image{
	height:100%;
	position:absolute;
	width:78.2%;
	margin-left:21.8%;
}

.aboutus-panel-wide{
	position: absolute;
width: 100%;
bottom: 0;
height: 206px;
}

.aboutus-panel-wide h2 {
	color: @redline-blue;
margin-left: 180px;
width: 160px;
display: inline-block;
border-right: 1px dashed @redline-blue;
font-size: 30px;
font-family: 'BauerBodoniW01-RegItali';
font-weight: normal;
text-transform: uppercase;
line-height: 0px;
letter-spacing: 4px;
text-align: right;
padding-right: 19px;
padding-top: 32px;
height: 118px;
}

.aboutus-panel-wide span {
	color:@redline-red;
	line-height: 65px;
}

.aboutus-panel-wide h4 {
	display:inline-block;
	color:@redline-blue;
width: 525px;
margin-left: 16px;
font-weight: normal;
font-family: Georgia;
}

/* Slider */

.panel-one-slide-wrapper{
	height:100%;
	width:4000px;
}

.panel-one-slider{
	width:1000px;
	height:100%;
	float:left;
	margin:0;
}

.panel-one-slider h4 {
	font-family: 'BauerBodoniW01-RegItali';
font-weight: normal;
font-size: 24px;
position: absolute;
margin-left: 79%;
z-index: 1000;
width: 210px;
color: #ffffff;
text-align: center;
margin-top: 215px;
}

.panel-one-slider h5 {
	width: 210px;
position: absolute;
height: 100%;
text-align: center;
padding-left: 10px;
padding-right: 10px;
padding-top: 253px;
padding-bottom: 100px;
font-size: 16px;
color:white;
z-index:1000;
margin-left:79%;
font-family:'Tw Cen W01 Medium';
font-weight: normal;
}

.panel-slider-lines {
	width: 71px;
height: 47px;
position: absolute;
margin-left: 861px;
border-top: 1px solid black;
border-bottom: 1px solid black;
z-index: 1000;
margin-top: 246px;
}

.panel-slider-lines-inner {
	width: 71px;
height: 47px;
position: absolute;
border-top: 1px solid red;
border-bottom: 1px solid red;
}


/* General Attributes */

.homepage{
	position:absolute;
}

.otherpage{
	position:absolute;
}


/* Footer */

.footer{
	position: fixed;
	width: 100%;
	height: 534px;
	border-top: 7px solid #d91f2d;
	bottom: -534px;
	background-image:url('images/footer-background.png');
	z-index: 10000000000000000000;
	color:#243942;
}

.footer-wrap{
	width:1000px;
	height:500px;
	margin-left:auto;
	margin-right:auto;
	background-image:url('images/footer-background-lines.png');
	background-repeat:no-repeat;
}

.footer-left{
	width: 589px;
	height: 480px;
	position: relative;
	float:left;
	margin-right:7px;
}

.footer-right{
	width: 404px;
	height: 480px;
	position:relative;
	float:left;
}

.footer-social-tab {
	width:175px;
	height:26px;
	background-color:#d91f2d;
	border-bottom:1px solid #e14c57;
}

.footer-social-tab h3 {
	color:white;
	font-family: 'Tw Cen W01 Medium';
	font-weight:normal;
	font-size:20px;
	text-transform:uppercase;
}

.footer-social-tab span {
	font-family:'Tw Cen W01 Semi Bold';
}

.footer-facebook {
	width:100%;
	height:139px;
}

.footer-facebook > .social-icon {
	margin-top: 42px;
    margin-left: 53px;
}

.footer-facebook > div {
margin-left: 0px;
display: inline-block;
position: absolute;
}

.footer-twitter {
	width:100%;
	height:164px;
}

.footer-twitter > .social-icon {
margin-left:47px;
margin-top:36px;
}

.footer-twitter > iframe {
	margin-top: 12px;
position: absolute;
}

.footer-blog {
	width:100%;
	height:130px;
}

.footer-blog > .social-icon {
margin-top:13px;
margin-left:31px;
}

.footer-blog h4 {
	font-family: 'Tw Cen W01 Medium';
	font-weight: normal;
	font-size:18px;
	text-transform:uppercase;
	color:#ffffff;
	margin-left: 100px;
margin-top: -40px;
}

.footer-blog span {
	color:@redline-red;
}

.footer-pinterest {
	width:100%;
	height:163px;
	padding-left:100px;
	padding-top:40px;
}

.footer-pinterest > .social-icon {
margin-top:60px;
margin-left:-30px;
position:absolute;
}



.footer-youtube {
	width:100%;
	height:148px;
}

.footer-youtube > .social-icon {
margin-top: 80px;
margin-left: 52px;
}

.footer-instagram{
	width:100%;
	height:148px;
}

.footer-instagram > .social-icon {
margin-left:71px;
margin-top:77px;
}

.footer-left-bottom h6 {
	color:#868686;
	margin-left:30px;
	margin-top:12px;
	font-size:13px;
	font-family: 'Tw Cen W01 Medium';
font-weight: normal;
}

.footer-right-bottom h6 {
	color:#868686;
	margin-left:38px;
	margin-top:12px;
	font-size:13px;
	font-family: 'Tw Cen W01 Medium';
font-weight: normal;
}