@content-center-color: #dae2e7;
@gutter-color:rgba(255,255,255,.8);
@redline-red:#d91f2d;
@redline-blue:#243942;


*,*:before,*:after{
	margin:0;
	padding:0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	background-image:url('images/body-background.png');
}

body {
	margin:0;
}

.fixed-menu-bar{
	width:100%;
	height:100px;
	background-image:url('images/top-nav-background.png');
	position:fixed;
	top:0;
	left:0;
	text-align:center;
	z-index:100000000;
}

.fixed-menu-bar img{
	vertical-align:middle;
	margin-top: 20px;
	margin-left: -780px;
}

.fixed-menu-bar ul {
	border-top:1px solid #e3e3e3;
	border-bottom:1px solid #e3e3e3;
	width:64%;
	font-family:'Tw Cen W01 Medium';
	min-width:700px;
	height:36px;
	margin-left:35%;
	margin-top:-80px;
	padding-top:8px;
}

.fixed-menu-bar ul li {
	display:inline-block;
	float:left;
	margin-right:32px;
	color:@redline-blue;
	text-transform:uppercase;
	height: 34px;
	margin-top: -8px;
	padding-top: 8px;
}

.fixed-menu-bar ul li:hover{
	color:@redline-red;
	border-top:1px solid #d91f2d;
	border-bottom:1px solid #d91f2d;
	padding-top:7px;
}

.content-panel{
	width:100%;
	margin-top:100px;
	overflow:hidden;
	margin-left:0%;
}

.viewport-center{
	width:1000px;
	height:600px;
	margin:0;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

.left-gutter{
	position: absolute;
	height: 100%;
	top: 100px;
	width:1px;
	background-color:@gutter-color;
	z-index:10000000000000000000;
}



.right-gutter{
	position: absolute;
	height: 100%;
	top: 100px;
	background-color:@gutter-color;
	z-index:10000000000000000000;
}


.panel{
	width:20%;
	height:600px;
	margin:0;
	overflow:hidden;
}

.panel-textbar{
	position:absolute;
	width:20%;
	height:100%;
	right:0;
	background:@redline-blue;
	text-align:center;
	color:white;
}

.slide-image{
	height:100%;
	position:absolute;
	width:79%;
}

.panel-textbar-horizontal {
	position:absolute;
	width:100%;
	height:20%;
	background-image:url('images/top-nav-background.png');
	color:white;
}

.slide-image-horizontal {
	height:100%;
	position:absolute;
	height:79%;
	bottom:0;
}

.panel-textbar-wide {
	position:absolute;
	height:100%;
	width:40%;
	background-color:#243942;
	right:0;
	text-align:center;
	color:white;
}

.slide-image-wide {
	height:100%;
	position:absolute;
	width:59%;
}

.left-button{
	width:51px;
	height:38px;
	background-image:url('images/button-left.png');
	position:fixed;
	z-index:1000000;
	top: 50%;
	cursor:pointer;
	left:0;
}

.left-button:hover{
	background-image:url('images/button-left-hover.png');
}

.right-button{
	width:51px;
	height:38px;
	background-image:url('images/button-right.png');
	position:fixed;
	z-index:1000000;
	top: 50%;
	cursor:pointer;
	right:0;
}

.right-button:hover{
	background-image:url('images/button-right-hover.png');
}

.content-panel-area{
	width:5000px;
	position:absolute;
	margin-top:-16px;
	overflow-x:visible;
}

.one-big-page{
	display:inline-block;
	width:20%;
	margin-right:3px;
}

.top-button{
	width: 27px;
	position: absolute;
	margin-top:9px;
	margin-left:50px;
}

.up-arrow-hover{
	height:53px;
	width:126px;
	position:absolute;
	cursor:pointer;
	margin-left:47%;
}

.up-arrow-hover:hover{
	background-color:@redline-red;
	border-bottom:1px solid #e4636c;
}

.up-arrow-hover h6{
	position:absolute;
	width: 100%;
	text-align: center;
	margin-top:30px;
	color:#ffffff;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
	display:none;
}

.down-arrow-hover{
	height:53px;
	width:126px;
	position:absolute;
	cursor:pointer;
	margin-left:47%;
}

.down-arrow-hover:hover{
	background-color:@redline-red;
	border-top:1px solid #e4636c;
}

.down-arrow-hover h6{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 9px;
	color: #ffffff;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
	display:none;
}

.down-arrow-footer{
	height:53px;
	width:126px;
	position:absolute;
	cursor:pointer;
	margin-left:47%;
}

.down-arrow-footer:hover{
	background-color:@redline-red;
	border-top:1px solid #e4636c;
}

.down-arrow-footer h6{
	position: absolute;
	width: 100%;
	text-align: center;
	margin-top: 9px;
	color: #ffffff;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13px;
	text-transform: uppercase;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.35);
	display:none;
}

.bottom-button {
	width: 27px;
	position: absolute;
	margin-top:29px;
	margin-left:50px;
}

/* General Attributes */

.homepage{
	position:absolute;
}

.otherpage{
	position:absolute;
}

.footer{
	position: fixed;
	width: 100%;
	height: 265px;
	border-top: 7px solid #d91f2d;
	bottom: -265px;
	background-image:url('images/footer-background.png');
	z-index: 10000000000000000000;
	color:#243942;
}

.footer-wrap{
	width:1000px;
	height:265px;
	margin-left:auto;
	margin-right:auto;
}

.footer-left{
	width: 573px;
	height: 240px;
	position: relative;
	float:left;
	margin-right:7px;
	border:1px solid #b2b2b2;
	border-top:0px;

}

.footer-left-top {
	height:147px;
	width:100%;
	position:relative;
	border-bottom:1px solid #b2b2b2;
}

.footer-left-top img {
	display:inline-block;
	float:left;
	margin-top:29px;
	margin-left:68px;
	margin-right:84px;
}

.footer-left-top ul {
	-moz-column-count: 2;
	-moz-column-gap: 0px;
	-webkit-column-count: 2;
	-webkit-column-gap: 5px;
	column-count: 2;
	column-gap: 5px;
	width: 290px;
	float: left;
	display: inline-block;
	margin-top: 30px;
	text-transform: uppercase;
	font-family: 'Tw Cen W01 Medium';
	font-size: 13.5px;
	line-height: 30px;
}

.footer-left-top ul li{
	padding-left:19px;
}

.footer-left-top ul li:hover{
	color:#d91f2d;
	padding-left:0px;
	list-style-type:disc;
	list-style-position:inside;
	list-style-image:url('images/footer-list-icon.png');
}

.footer-left-contact{
	height:31px;
	width:100%;
	position:relative;
	border-bottom:1px solid #b2b2b2;
	text-transform:uppercase;
	font-family: 'Tw Cen W01 Medium';
	font-size:13px;
	line-height:16px;
	padding-top: 8px;
	padding-left: 29px;
}

.footer-left-follow{
	height:31px;
	width:100%;
	position:relative;
	border-bottom:1px solid #b2b2b2;
	text-transform:uppercase;
	font-family: 'Tw Cen W01 Medium';
	font-size:13px;
	line-height:16px;
	padding-top: 8px;
	padding-left: 29px;
}

.footer-left span{
	font-weight:normal;
}

.footer-left-copyright {
	height:31px;
	width:100%;
	position:relative;
	border-bottom:1px solid #b2b2b2;
	padding-top: 8px;
	padding-left: 29px;
}

.footer-left-copyright h6{
	font-family: 'Tw Cen W01 Medium';
	font-size:13px;
	line-height:16px;
	font-weight:normal;
}

.footer-right{
	width:420px;
	height:240px;
	position:relative;
	float:left;
	border:1px solid #b2b2b2;
	border-top:0px;
}

.footer-right-blogroll {
	height:209px;
	width:100%;
	position:relative;
	border-bottom:1px solid #b2b2b2;
}

.footer-right-design{
	height:31px;
	width:100%;
	position:relative;
	border-bottom:1px solid #b2b2b2;
	padding-top: 8px;
	padding-left: 29px;
}

.footer-right-design h6{
	font-family: 'Tw Cen W01 Medium';
	font-size:13px;
	line-height:16px;
	font-weight:normal;
}

.footer-right-design a {
	color:#243942;
	text-decoration:none;
}

.footer-right-design a:hover{
	color:#d91f2d;
}